.link {
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  font-size: rem(18px);
  color: $brand-green;
  font-weight: 500;

  &__label {
    position: relative;
    z-index: 10;
  }

  &:before {
    content: '';
    position: absolute;
    z-index: 5;
    left: -5px;
    bottom: -3px;
    width: calc(100% + 10px);
    height: 13px;
    background: $brand-pink;
  }

  &:hover {
    padding: 0 10px;
  }
}
