.featured-content {
  position: relative;
  padding: 30px 0;

  &:before {
    content: "Why you'll love it";
    @include centralize;
    left: -100px;
    transform: rotate(-90deg);
    font-size: rem(36px);
    letter-spacing: 0.05em;
    color: $dark-grey__20;
  }

  &:after {
    content: '';
    @include centralize;
    z-index: -1;
    right: 30px;
    width: 50%;
    height: 420px;
    background: $brand-green;
  }

  &__text {
    width: 46%;
  }

  &__text-title {
    font-size: rem(34px);
    color: $brand-pink;
    font-weight: 500;
    margin: 0 0 40px;
  }

  .link {
    margin-top: 20px;
  }

  &__text-content {
    max-width: 85%;
    margin: 0;
    font-size: rem(18px);
    line-height: rem(26px);
  }

  &__image {
    width: 30%;
    height: 520px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__list {

    &-item {
      margin: 0 auto 20px;

      &:before {
        content: '';
        position: relative;
        top: 5px;
        display: inline-block;
        width: 24px;
        height: 24px;
        margin: 0 10px 0 0;
        background: url('#{$image-path}icon__right.svg');
        background-size: cover;
      }
    }
  }
}

@include breakpoint(tablet-max) {
  .featured-content {
    padding-top: 25px;

    &__image,
    &__text {
      width: 100%;
    }

    .link {
      margin: 0;
    }

    &:after {
      display: none;
    }

    &:before {
      bottom: 100px;
      top: inherit;
      left: inherit;
      right: -50px;
      font-size: rem(20px);
    }

    &__text-title {
      font-size: rem(22px);
      margin: 20px 0;
    }

    &__image {
      display: none;
    }
  }
}
