.footer {
  position: relative;
  padding: 30px 0;
  background: $color-white;

  &__logo {
    max-width: 120px;
    text-align: center;
  }
}

.footer__links {

  &--right {
    text-align: right;
  }


  &-item {
    color: $brand-green;
    font-size: rem(18px);
    text-transform: uppercase;
    line-height: rem(32px);

    &:hover {
      color: $brand-pink;
    }
  }
}

.copyright {
  padding: 20px 0;
  background: $brand-pink;
  color: $color-white;
  text-transform: uppercase;
  font-size: rem(12px);
  @include clearfix;

  &__text {
    float: left;
  }

  &__credits {
    float: right;
  }

  &__credits-link {
    color: $color-white;
    text-decoration: underline;
  }
}

@include breakpoint(tablet-max) {
  .footer__links--right,
  .footer {
    text-align: center;
  }

  .footer__logo {
    margin: 30px auto;
  }

  .copyright {
    &__text,
    &__credits {
      float: none;
      margin: 10px auto;
      text-align: center;
    }
  }
}
