.head {
  position: relative;
  padding: 100px 30px;
  background: $light-grey__10;
  overflow: hidden;

    &:before {
      content: '';
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: 300px;
      background: url('#{$image-path}detail__head-left.png') no-repeat;
      background-position: 0 -50px;
    }

    &:after {
      content: '';
      position: absolute;
      z-index: -1;
      bottom: 0;
      right: 0;
      width: 500px;
      height: 300px;
      background: url('#{$image-path}detail__head-right.png')  no-repeat;
    }

    &__title {
      font-size: rem(36px);
      color: $brand-green;
    }

    &__subtitle {
      font-size: rem(18px);
      line-height: rem(26px)
    }
}

@include breakpoint(mobile) {
  .head {
    padding: 60px 30px;
  }
}
