.header {
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  width: 100%;
  background: $color-white;

  &__container {
    position: relative;
    height: 85px;
    line-height: 85px;
    padding: 0 30px;
    width: 100%;
    max-width: 1660px;
    @include clearfix;
  }

  &__logo {
    float: left;
    margin: 0;
    max-width: 180px;
  }
}

.header__menu {
  float: right;

  &-item {
    display: inline-block;
    padding: 0 30px 0 0;

    &:last-child {
      padding: 0;
    }
  }

  &-link {
    display: block;
    color: $brand-green;
    font-size: rem(14px);
    font-weight: 500;
    text-transform: uppercase;

    &:hover {
      color: $brand-pink;
    }
  }
}

.header__menu-toggle--active {

  .header__menu-toggle-line {

    &:first-child {
      transform: rotate(45deg);
      transform-origin: 10px;
    }
    &:nth-child(2) {
      transform: translateX(40px);
      opacity: 0;
    }
    &:nth-child(3) {
      transform: rotate(-45deg);
      transform-origin: 8px;
    }
  }
}

@include breakpoint(tablet-max) {
  .header__logo {
    max-width: 130px;
  }

  .header__menu-list {
    display: none;
    position: absolute;
    left: 20px;
    top: 85px;
    background: $color-white;
    width: calc(100% - 40px);
  }

  .header__menu-item {
    display: block;
    text-align: center;
    padding: 0;
    line-height: 50px;
  }

  .header__menu-toggle {
    cursor: pointer;
    height: 20px;
    margin-top: 34px;
    position: relative;
    width: 40px;

    &-line {
      display: block;
      position: absolute;
      left: 0;
      height: 2px;
      width: 100%;
      background: $brand-pink;
      border-radius: 9px;
      opacity: 1;
      transition: .25s ease-in-out;
    }

    &-line:nth-child(2) {
      top: 8px;
    }

    &-line:nth-child(3) {
      top: 16px;
    }
  }
}
