.instagram {
  position: relative;
  margin-bottom: 30px;

  &__link {
    display: block;
    margin-left: 120px;
    font-size: rem(36px);
    color: $brand-green;
    font-weight: 500;

    &:hover {
      color: $brand-pink;
    }
  }

  &:before {
    content: '';
    position: absolute;
    top: 75px;
    left: 30px;
    width: calc(100% - 60px);
    height: 216px;
    background: $brand-pink__40;
  }
}


.instagram__list {
  display: flex;
  flex-wrap: wrap;
  margin: 50px auto 0;
  padding: 0 15px;

    &-item {
      overflow: hidden;
      position: relative;
      width: calc(25% - 30px);
      margin: 0 15px;
    }

    &-item-link {
      display: block;
      padding-bottom: 100%;
      background-size: cover;
      @include transition(300ms, ease);

      &:hover {
        transform: scale(1.1);
      }
    }

    &-item:nth-child(even) {
      margin-top: 60px;
    }
}


@include breakpoint(tablet-max) {
  .instagram__link {
    margin-left: 0;
    font-size: rem(25px);
  }

  .instagram__list {
    &-item {
      width: calc(50% - 20px);
      margin: 0 10px;

      &:nth-child(even) {
        margin-top: 30px;
      }
    }
  }
}
