.main-slider {
  margin-bottom: 30px;

  &__container {
    width: 100%;
  }

  .swiper-button-white {
    opacity: 1 !important;
  }

  .swiper-button-prev {
    top: inherit;
    left: 0;
    bottom: 0;
    width: 83px;
    height: 83px;
    background: $brand-pink;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 22px;
  }

  .swiper-button-next {
    top: inherit;
    left: 83px;
    bottom: 0;
    right: inherit;
    width: 83px;
    height: 83px;
    background: $brand-green;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 22px;
  }
}

.main-slider__item {
  align-items: center;
  display: flex;
  background: $color-white;

  &-text {
    position: relative;
    display: flex;
    align-items: center;
    width: 60%;
    height: calc(100vh - 85px);
    max-height: 800px;
    padding: 0 60px;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 581px;
        height: 382px;
        background: url('#{$image-path}detail__main-banner-top.png') center no-repeat;
      }

      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        width: 376px;
        height: 444px;
        background: url('#{$image-path}detail__main-banner-bottom.png') center no-repeat;
      }
  }

  &-image {
    width: 40%;
    height: calc(100vh - 85px);
    max-height: 800px;
    background: url('#{$image-path}thumb.png') center center no-repeat;
    background-size: cover;
  }

  &-text-title {
    font-size: rem(36px);
    font-weight: 500;
    color: $brand-green;
  }

  &-text-subtitle {
    font-size: rem(18px);

    &:after {
      content: '';
      display: block;
      width: 80px;
      height: 3px;
      margin: 30px 0;
      background: $brand-green;
    }
  }
}

@include breakpoint(mobile) {
  .main-slider {

    .swiper-button-prev,
    .swiper-button-next {
      width: 50px;
      height: 50px;
      background-size: 15px;
    }

    .swiper-button-next {
      left: 50px;
    }
  }

  .main-slider__item {

    &-text {
      height: 400px;
      width: 100%;
      padding: 0 20px;
    }

    &-text-title {
      font-size: rem(22px);
      margin-bottom: 20px;
    }

    &-text-subtitle {
      display: none;
    }

    &-image {
      display: none;
    }
  }
}
