.newsletter {

  &__container {
    padding: 50px 0;
    text-align: center;
    background: $light-grey__10;
  }

  &__title {
    color: $light-grey;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }

  &__subtitle {
    max-width: 580px;
    margin: 15px auto;
    font-size: rem(24px);
    font-weight: normal;
    line-height: rem(36px);
  }

  &__input {
    width: 90%;
    height: 60px;
    max-width: 460px;
    padding: 0 20px;
    border: 1px solid $light-grey;
    font-family: $primary-font;
    font-style: italic;
    font-weight: 500;
    line-height: normal;
    font-size: rem(18px);
    letter-spacing: 0.05em;
    color: $light-grey;
    text-transform: uppercase;

    &::placeholder {
      font-family: $primary-font;
      font-style: italic;
      font-weight: 500;
      line-height: normal;
      font-size: rem(18px);
      letter-spacing: 0.05em;
      color: $light-grey;
      text-transform: uppercase;
    }
  }

  input[type="submit"] {
    position: relative;
    cursor: pointer;
    left: -5px;
    font-family: $primary-font;
    width: 217px;
    height: 60px;
    font-weight: 500;
    font-size: rem(18px);
    letter-spacing: 0.05em;
    background: $brand-pink;
    color: $color-white;
    text-transform: uppercase;
  }

  div.wpcf7-response-output {
    padding: 10px !important;
    max-width: 600px;
    margin: 2em auto 0;
  }

}

@include breakpoint(tablet-max) {
  .newsletter {

    &__subtitle {
      font-size: rem(18px);
      line-height: rem(26px);
      max-width: 90%;
    }

    &__input,
    input[type="submit"] {
      max-width: inherit;
      width: 90%;
      text-align: center;
      font-size: rem(16px);

      &::placeholder {
        text-align: center;
        font-size: rem(16px);
      }
    }

    input[type="submit"] {
      margin-left: 10px;
    }

    div.wpcf7 .ajax-loader {
      display: block;
      margin: 20px auto 0;
    }
  }
}
