.pagination {
  text-align: right;

  .current {
    display: none;
  }

  .current-page,
  .inactive {
    display: inline-block;
    width: 38px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: rem(24px);
    font-weight: 500;
    margin-right: 15px;

      &:last-child {
        margin-right: 0;
      }
  }

  .current-page {
    background: $dark-grey__20;
    color: $color-white;
  }

  .inactive {
    background: $brand-pink;
    color: $color-white;
  }
}
