.post-thumb {
  display: block;
  position: relative;
  width: 100%;
  height: 320px;
  background-size: cover;
  background-position: center;
  background-color: #eee;
  color: $brand-green;

    &__title {
      position: absolute;
      width: calc(100% - 60px);
      right: 0;
      left: 0;
      bottom: 30px;
      padding: 15px 30px;
      text-align: center;
      font-size: rem(18px);
      line-height: rem(26px);
      font-weight: normal;
      background: $color-white;
      @include transition(300ms, ease);
    }

    &:before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 75px;
      background: black;
    }

    &:hover &__title {
      bottom: 40px;
    }
}

@include breakpoint(tablet-max) {
  .post-thumb {
    height: 280px;
  }
}
