.testimonies {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 278px;
    height: 495px;
    background: url('#{$image-path}detail__testimonies-left.png') no-repeat;
  }

  &:after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 50px;
    right: 0;
    width: 278px;
    height: 495px;
    background: url('#{$image-path}detail__testimonies-right.png') no-repeat;
  }

  &__container {
    padding: 80px 100px;
  }

  &__title {
    color: $brand-green;
    font-size: rem(36px);
    text-transform: uppercase;
    font-weight: 500;
    margin: 20px auto 30px;
  }
}

.testimonies__item {
  &-text {
    font-size: rem(24px);
    line-height: rem(36px);
  }

  &-info {
    text-transform: uppercase;
    color: $light-grey;
    font-weight: 700;
    font-size: rem(18px);
  }

  &-info-role {
    display: block;
    font-weight: normal;
  }
}

@include breakpoint(tablet-max) {
  .testimonies__container {
    padding: 60px 0;
  }

  .testimonies__item {
    &-text {
      font-size: rem(20px);
      line-height: rem(28px);
    }
  }
}
