.not-found {
  min-height: 450px;
  display: flex;
  align-items: center;
  text-align: center;
  background: $light-grey__10;
  
    &__detail {
      color: $brand-pink;
      font-weight: bold;
      font-size: rem(100px);
    }
}
