.about__header {
  position: relative;
  overflow: hidden;
  margin: 0px 30px 0;
  padding: 80px 0px;
  background: $light-grey__10;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 565px;
      max-width: 50%;
      height: 319px;
      background: url('#{$image-path}detail__about-head-left.png')
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 486px;
      max-width: 50%;
      height: 319px;
      background: url('#{$image-path}detail__about-head-right.png');
    }

    &-title {
      color: $brand-green;
      font-size: rem(36px);
      font-weight: 500;
    }

    &-subtitle {
      font-size: rem(18px);
    }
}

.about__content {
  position: relative;
  margin: 100px auto 60px;

  &:after {
    content: '';
    z-index: -1;
    @include centralize;
    left: 0;
    width: 278px;
    height: 495px;
    background: url('#{$image-path}detail__testimonies-left.png') center no-repeat;
  }

  &:before {
    content: "Why you'll love it";
    @include centralize;
    left: -100px;
    transform: rotate(-90deg);
    font-size: rem(36px);
    letter-spacing: 0.05em;
    color: $dark-grey__20;
  }

  &-text-title {
    font-size: rem(32px);
    color: $brand-pink;
    font-weight: 500;
  }

  &-text-line {
    font-size: rem(18px);
    line-height: rem(26px);
  }
}

.about__content-team {
  @include clearfix;

  &-person {
    position: relative;
    float: left;
    width: calc(48% - 50px);
    max-width: 320px;
    height: 430px;
    background-size: cover;
    background-position: center top;

    &__content {
      position: absolute;
      bottom: 20px;
      left: 20px;
      color: $color-white;
      font-size: rem(18px);
      text-transform: uppercase;

      &-name {
        font-weight: 700;
        display: block;
      }
    }

    &:before {
      content: '';
      position: absolute;
      z-index: -1;
      bottom: -50px;
      left: 100px;
      width: 98%;
      height: 316px;
      background: $brand-green;
    }
  }

  &-person:nth-child(1) {
    margin: 0 50px 0 0;
  }

  &-person:nth-child(2) {
    position: relative;
    top: 70px;

    &:before {
      background: $brand-pink__20;
    }
  }
}

@include breakpoint(tablet-max) {
  .about__content {
    margin: 40px auto 60px;

    &:before {
      font-size: rem(18px);
      left: -55px;
    }
  }

  .about__content-team {
    margin: 0 0 60px;

    &-person {
      width: 100%;
      float: none;

      &:before {
        width: 60%;
        height: 30%;
        left: inherit;
        right: -20px;
      }
    }

    &-person:nth-child(1) {
      margin: 0 auto;
    }
  }
}
