.featured-post {

    .g__container {
      @include clearfix;
    }

    &__content {
      display: flex;
      align-items: center;
      padding: 0 60px;
      width: 50%;
      float: left;
      height: 530px;
      background: $brand-green;

        &-back {
          position: relative;
          left: 0;
          display: block;
          text-transform: uppercase;
          color: $color-white;
          opacity: .6;
          margin: 0 auto 30px;
          @include transition(300ms, ease);

            &::before {
              content: '';
              display: inline-block;
              position: relative;
              top: 3px;
              margin-right: 5px;
              width: 20px;
              height: 20px;
              background: url('#{$image-path}icon__arrow-down.svg') no-repeat;
              background-size: 20px 20px;
              transform: rotate(90deg);
            }

            &:hover {
              left: -5px;
            }
        }

        &-title {
          max-width: 80%;
          margin: 0;
          color: $brand-pink;
          font-weight: 500;
          font-size: rem(32px);
        }

        &-subtitle {
          margin: 30px auto 0;
          color: $color-white;
          font-size: rem(18px);
          line-height: rem(26px);
        }
    }

    &__image {
      width: 50%;
      float: right;
      height: 530px;
      background-position: center;
      background-size: cover;
    }

    .link {
      color: $color-white;
      margin: 20px auto;
    }
}

.blog__list {
  margin: 50px auto;

  .g__row [class*="g__col"]:nth-child(2) .post-thumb:before {
    background: $brand-pink;
  }

  .g__row [class*="g__col"]:nth-child(3) .post-thumb:before {
    background: $brand-green;
  }

  .g__row [class*="g__col"]:nth-child(4) .post-thumb:before {
    background: $light-grey;
  }

  &-title {
    font-size: rem(36px);
    font-weight: 500;
    color: $brand-green;
  }

  &-subtitle {
    margin: 10px auto;
    float: left;
  }

  &-link {
    position: relative;
    float: right;
    left: 0;
    color: $brand-pink;
    text-transform: uppercase;
    @include transition(300ms, ease);

    &:hover {
      left: 5px;
    }

    &::after {
      content: '';
      position: relative;
      top: 1px;
      display: inline-block;
      margin-left: 5px;
      width: 20px;
      height: 15px;
      background: url('#{$image-path}icon__arrow-right.svg') center no-repeat;
    }
  }
}

@include breakpoint(tablet-max) {
  .blog__list {

    &-subtitle {
      float: none;
    }

    &-link {
      display: block;
      float: none;
      margin: 10px auto 0;
    }
  }

  .featured-post {
    &__content {

      &-title {
        max-width: inherit;
        font-size: rem(26px);
      }

      &-subtitle {
        font-size: rem(16px);
      }
    }

    &__link {
      font-size: rem(20px);
      height: 60px;
      line-height: 60px;

        &::after {
          width: 60px;
          height: 60px;
          right: -60px;
        }
    }
  }
}

@include breakpoint(mobile) {
  .featured-post {

    &__content {
      float: none;
      width: 100%;
      height: auto;
      padding: 30px;
    }

    &__image {
      display: none;
    }
  }
}
