.contact {

  .wpcf7-response-output {
    margin: 15px auto !important
  }

}

.contact__text {
  display: flex;
  align-items: center;
  background: url('#{$image-path}detail__contact-background.png') center top no-repeat;
  background-size: cover;

    &-content {
      padding: 0 60px;
    }

    &-title {
      font-size: rem(36px);
      text-transform: uppercase;
      color: $brand-green;
      font-weight: 500;
    }

    &-subtitle {
      font-size: size(18px);

      &:after {
        content: '';
        display: block;
        width: 80px;
        height: 3px;
        background: $brand-green;
        margin: 30px 0 90px;
      }
    }

    &-line {
      font-size: rem(18px);

      &:before {
        content: '';
        display: inline-block;
        vertical-align: middle;
      }
    }

    &-line--mail {
      &:before {
        width: 24px;
        height: 18px;
        margin: 0 5px 0 0;
        background: url('#{$image-path}icon__mail.svg') no-repeat;
      }
    }

    &-line--phone {
      &:before {
        width: 24px;
        height: 25px;
        margin: 0 5px 0 0;
        background: url('#{$image-path}icon__phone.svg') no-repeat;
      }
    }

    &-line--address {
      &:before {
        width: 24px;
        height: 25px;
        margin: 0 5px 0 0;
        background: url('#{$image-path}icon__place.svg') no-repeat;
      }
    }
}

.contact__form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: $light-grey__10;

    &-content {
      padding: 20px 100px;
      width: 100%;
    }

    &-title {
      font-size: rem(18px);
      font-weight: 700;
      color: $light-grey;
      text-transform: uppercase;
      text-align: center;
    }

    form {
      width: 100%;
    }

    &-input,
    &-textarea {
      font-family: $primary-font;
      display: block;
      border: 1px solid $light-grey;
      width: 100%;
      padding: 20px 20px;
      font-size: rem(18px);
      font-style: italic;

        &::placeholder {
          font-family: $primary-font;
          color: $light-grey;
        }
    }

    .wpcf7-not-valid {
      border-color: red;
    }

    &-label {
      font-size: rem(24px);
      color: $brand-green;
      font-style: italic;
      margin: 30px auto 10px;
      display: block;
    }

    input[type="submit"] {
      cursor: pointer;
      display: block;
      font-family: $primary-font;
      font-size: rem(18px);
      text-transform: uppercase;
      width: 200px;
      height: 60px;
      line-height: 60px;
      text-align: center;
      margin: 20px auto 0;
      color: $color-white;
      background: $brand-pink;
    }
}

.wpcf7-not-valid-tip {
  display: none !important
}

@include breakpoint(tablet-max) {
  .contact__text {
    &-content {
      padding: 30px 40px;
    }
  }

  .contact__form-content {
    padding: 30px 40px;
  }
}
