.faq__content {
  padding: 40px 0;
}

.faq__sidebar {

  &-title {
    font-size: rem(18px);
    color: $light-grey;
    letter-spacing: 0.05em;
  }

  &-categories {
    margin: 15px auto 0;
    padding: 0 15px;
  }

  &-categories-item {
    cursor: pointer;
    font-size: rem(22px);
    margin: 0 0 15px;
    letter-spacing: 0.05em;
    color: $dark-grey;

    &:before {
      content: '-';
    }
  }
}


.faq__questions {

  &-item {
    cursor: pointer;
    position: relative;
    padding: 30px 30px;
    margin: 0 0 30px;
    background: red;
    text-align: center;
    text-transform: uppercase;
    font-size: rem(18px);
    color: $color-white;
    letter-spacing: .05em;

    &:after {
      content: '+';
      position: absolute;
      left: 0;
      bottom: -22px;
      width: 44px;
      height: 44px;
      line-height: 44px;
      text-align: center;
      background: black;
    }
  }

  &-item--green {
    background: $brand-green;

    &:after {
      background: $brand-pink;
    }
  }

  &-item--grey {
    background: $light-grey;

    &:after {
      background: $brand-pink;
    }
  }

  &-item--pink {
    background: $brand-pink;

    &:after {
      background: $brand-green;
    }
  }

  &-item-title {
    font-weight: normal;
  }
}

.faq__modal {
  opacity: 0;
  pointer-events: none;
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 5000;
  width: 100vw;
  height: 100vh;
  @include transition(300ms, ease);

    &--active {
      opacity: 1;
      pointer-events: inherit;
    }

    &-overlay {
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%;
      background: $dark-grey__75;
    }

    &-content {
      position: relative;
      background: $color-white;
      max-width: 80%;
      width: 960px;
      padding: 80px 100px;

      &::before {
        content: '';
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 222px;
        height: 100%;
        background: url('#{$image-path}detail__faq-modal.png') right no-repeat;
        background-size: cover;
      }
    }

    &-content-close {
      cursor: pointer;
      position: absolute;
      right: 20px;
      top: 20px;
      transform: rotate(45deg);
      width: 20px;
      height: 20px;
      font-size: rem(26px);
      font-weight: bold;
      color: $light-grey;
    }

    &-content-text-title {
      position: relative;
      z-index: 10;
      color: $brand-green;
      font-size: rem(36px);
      text-transform: uppercase;
      font-weight: 500;
    }

    &-content-text-answer {
      position: relative;
      z-index: 10;
      font-size: rem(22px);
      line-height: rem(32px);
    }
}

@include breakpoint(mobile) {

  .faq__modal {

    &-content {
      padding: 60px 40px;

      &-text {
        max-height: 400px;
        overflow: scroll;
      }

      &-text-title {
        font-size: rem(22px);
      }

      &-text-answer {
        font-size: rem(16px);
        line-height: rem(22px);
      }
    }
  }
}
