/*------------
  LAST NEWS
-----------*/

.last-news {
  margin: 0 0 74px;

  &__title {
    font-size: rem(36px);
    color: $brand-green;
    font-weight: 500;
    text-transform: uppercase;
    padding-left: 60px;
    margin-bottom: 30px;
  }

  .g__row [class*="g__col"]:nth-child(1) .post-thumb:before {
    background: $brand-pink;
  }

  .g__row [class*="g__col"]:nth-child(2) .post-thumb:before {
    background: $brand-green;
  }

  .g__row [class*="g__col"]:nth-child(3) .post-thumb:before {
    background: $light-grey;
  }
}

/*------------
  LAST LOOKS
-----------*/

.last-looks {
  position: relative;
  background: url('#{$image-path}detail__last-looks-right.png') right top no-repeat;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 230px;
    background: #fafafa;
  }

  &:after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 530px;
    height: 488px;
    max-width: 100%;
    background: url('#{$image-path}detail__last-looks-left.png') no-repeat;
  }

  &__title {
    @extend .last-news__title;
  }
}

.last-looks__item {
  position: relative;
  min-height: 380px;

  &-text {
    position: relative;
    width: 45%;
    margin: 0;
    z-index: 10;
    padding: 120px 0 0;
  }

  &-title {
    color: $brand-green;
    font-size: rem(24px);
    font-weight: 500;
  }

  &-subtitle {
    font-size: rem(18px);
    line-height: rem(26px);
    color: $light-grey;
  }

  &-price {
    font-size: rem(18px);
    font-weight: 700;
    color: $brand-green;
  }

  &-link {
    position: relative;
    display: block;
    width: 160px;
    height: 50px;
    margin: 0;
    line-height: 50px;
    background: $brand-green;
    color: $brand-pink;
    font-size: rem(18px);
    font-weight: 500;
    text-align: center;

      &:after {
        content: '';
        position: absolute;
        right: -50px;
        width: 50px;
        height: 50px;
        background: url('#{$image-path}icon__arrow.svg') center no-repeat $brand-pink;
        @include transition(300ms, ease);
      }

      &:hover {
        &:after {
          width: 70px;
          right: -70px;
        }
      }
  }

  &-image {
    position: absolute;
    z-index: 5;
    top: 0;
    right: 0;
    width: 55%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
}

@include breakpoint(tablet-max) {
  .last-news__title {
    font-size: rem(30px);
    padding-left: 0;
  }

  .last-looks__item {
    background: #fafafa;

    &-title,
    &-subtitle,
    &-price {
      padding-left: 10px;
    }

    &-image {
      position: inherit;
      width: 100%;
      height: 500px;
      background-position: center top;
    }

    &-text {
      padding: 10px 0 0;
      width: 100%;
    }
  }
}
