.how-works__header {

  &-image {
    width: 100%;
    height: calc(100vh - 85px);
    max-height: 800px;
    background-position: center;
    background-size: cover;
  }

  &-content {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    height: calc(100vh - 85px);
    max-height: 800px;
    padding: 0 30px;
    background: $light-grey__10;

    &::before {
      content: '';
      position: absolute;
      z-index: -1;
      left: 0;
      bottom: 0;
      width: 379px;
      height: 427px;
      background: url('#{$image-path}detail__how-works-left.png') no-repeat;
      background-size: 100%;
    }

    &::after {
      content: '';
      position: absolute;
      z-index: -1;
      top: 0;
      right: 0;
      width: 504px;
      height: 402px;
      background: url('#{$image-path}detail__how-works-right.png') no-repeat;
      background-size: 100%;
    }
  }

  &-title {
    color: $brand-green;
    font-size: rem(48px);
    font-weight: 500;
    text-transform: uppercase;
  }

  &-subtitle {
    font-size: rem(18px);
    line-height: rem(26px);

    &:after {
      content: '';
      display: block;
      width: 80px;
      height: 3px;
      margin: 28px 0 0;
      background: $brand-green;
    }
  }

  &-link {
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 270px;
    height: 80px;
    max-width: calc(100% - 80px);
    text-align: center;
    line-height: 80px;
    font-size: rem(24px);
    text-transform: uppercase;
    background: $color-white;
    color: $dark-grey;
    @include transition(300ms, ease);

      &::after {
        content: '';
        position: absolute;
        right: -80px;
        width: 80px;
        height: 80px;
        background: url('#{$image-path}icon__arrow-down.svg') center center no-repeat $brand-pink;
      }

      &:hover {
        width: 300px;
      }
  }
}

.how-works__list {

  &-title {
    margin: 0 auto 20px;
    color: $brand-green;
    font-weight: 500;
    font-size: rem(36px);
    text-transform: uppercase;
  }

  &-item {
    position: relative;
  }

  .g__row [class*="g__col"]:nth-child(even) &-item-title {
    top: 0;
    bottom: inherit;
  }

  &-item-image {
    cursor: pointer;
    height: 460px;
    background-size: cover;
    background-position: center center;
  }

  &-item-title {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 20px;
    text-align: center;
    color: $light-grey;
    font-size: rem(18px);
    text-transform: uppercase;
    background: $color-white;
  }

  &-item--active &-item-overlay {
    pointer-events: inherit;
    opacity: 1;
  }

  &-item-overlay {
    pointer-events: none;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    padding: 0 50px;
    width: 100%;
    height: 100%;
    background: $brand-green;
    @include transition(300ms, ease);

      &-close {
        cursor: pointer;
        position: absolute;
        top: -30px;
        right: -30px;
        width: 60px;
        height: 60px;
        line-height: 40px;
        background: $color-white;
        transform: rotate(45deg);

          &-plus {
            position: absolute;
            top: 30px;
            right: 22px;
            font-weight: bold;
            font-size: rem(20px);
          }
      }

      &-title {
        display: block;
        font-size: rem(18px);
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
        line-height: rem(22px);
        color: $brand-pink;

        &::after {
          content: '';
          display: block;
          width: 60px;
          height: 4px;
          background: $brand-pink;
          margin: 20px auto;
        }
      }

      &-subtitle {
        color: $color-white;
        font-size: rem(18px);
        text-align: center;
      }
  }
}


@include breakpoint(mobile) {
  .how-works__header {

    &-title {
      font-size: rem(36px);
    }

    &-link {
      font-size: rem(20px);
    }
  }
}
