.shop__list--looks {

  .shop__list-item {
    max-width: 430px;

      &-image {
        height: 490px;
      }
  }

  .g__row [class*="col"]:nth-child(even) {
    margin-top: 80px;
    margin-left: 8.33333%;
  }
}

@include breakpoint(mobile) {
  .shop__list--looks {

    .shop__list-item {
      max-width: 100%;
    }

    .g__row [class*="col"]:nth-child(even) {
      margin: 0 auto 20px;
    }
  }
}
