.post {

  .featured-post__content {
    min-height: 530px;
    height: auto;
    padding: 30px 60px;
  }

  &__content {
    margin: 60px auto 30px;
    font-size: rem(18px);
    line-height: rem(28px);

    p {
      word-break: break-all;
    }

    p:first-child:first-letter {
      font-size: rem(48px);
    }

    a {
      text-decoration: underline;
      color: $brand-pink;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 0 auto 15px;
    }
  }

  blockquote {
    max-width: 100%;
    padding: 20px;
    background: $light-grey__10;
  }
}

@include breakpoint(mobile) {
  .post {
    .featured-post__content {
      min-height: 530px;
      height: auto;
      padding: 30px 30px;
    }
  }
}
