.shop__cats {
  margin-top: 30px;
  padding-left: 20px;

    &-main {
      display: block;
      font-size: rem(18px);
      color: $light-grey;
      letter-spacing: 0.05em;
      margin: 0 0 15px;
      font-weight: 500;
    }

    &-sub {
      display: block;
      font-size: rem(22px);
      margin: 10px auto;
      letter-spacing: 0.05em;
      color: $dark-grey;

      &:before {
        content: '-';
      }
    }

    a:hover {
      color: $brand-pink;
    }
}
