.product {
  margin: 0 auto 60px;

  .g__container {
    @include clearfix;
  }

  &__cat {
    display: block;
    margin: 30px 0 0;
    color: $brand-pink;
    font-size: rem(18px);
    text-transform: uppercase;
    letter-spacing: 0.25em;
  }

  &__title {
    margin: 10px auto;
    color: $brand-green;
    font-weight: 500;
    text-transform: uppercase;
    font-size: rem(36px);
  }

  &__sku {
    color: $light-grey;
    font-size: rem(14px);
  }

  &__price {
    font-size: rem(36px);
    text-transform: uppercase;
  }

  &__description {

    &-title {
      color: $brand-pink;
      font-style: italic;
      font-weight: 500;
      text-transform: uppercase;
      font-size: rem(18px);
      margin: 0 auto;
    }

    p {
      margin: 10px 0;
      line-height: rem(27px);
    }
  }
}

.product__content {
  float: right;
  width: 50%;
  padding: 0 30px;
}

.product__buy {
  display: none;
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  background: $brand-pink;
  color: $color-white;
}

.product__images {
  position: relative;
  float: left;
  width: 50%;

  .swiper-slide {
    position: relative;
    min-height: 90vh;
    max-height: 830px;
  }

  &-item {
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
  }

  .how-works__header-link {
    position: absolute;
    z-index: 500;
    left: inherit;
    right: 80px;
    bottom: 0;

      &::after {
        transform: rotate(-90deg);
      }
  }
}

.product__images-thumbs {
  position: absolute;
  z-index: 500;
  left: 5px;
  bottom: 0;
  @include clearfix;

    &-item {
      cursor: pointer;
      opacity: 0.6;
      float: left;
      width: 85px;
      height: 85px;
      margin: 0 5px;
      background-size: cover;
      background-position: center;
      border: 3px solid $color-white;
      border-bottom: 0;
      @include transition(300ms, ease);
    }

    &-item--active {
      opacity: 1;
    }
}

.buy-button {
  pointer-events: none;
  opacity: .6;
}

.buy-button--active {
  pointer-events: inherit;
  opacity: 1;
}

.product__sizes {
  margin: 0 auto 20px;

  &-label {
    color: $brand-green;
    font-size: rem(18px);
    text-transform: uppercase;
    font-weight: 500;
    font-style: italic;
  }

  &-item {
    cursor: pointer;
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: rem(14px);
    margin: 0 10px 0 0;
    background: $light-grey__10;
    font-weight: 500;
  }

  &-item--active {
    background: $brand-pink;
    color: $color-white;
  }
}

@media screen and (max-width: 1150px) {
  .product {

    &__images {
      .how-works__header-link {display: none;}
    }

    &__buy {
      display: block;
    }
  }
}

@include breakpoint(mobile) {

  .product {

    .swiper-slide {
      height: 500px;
      min-height: inherit;
    }

    &__title {
      font-size: rem(30px);
    }

    &__images,
    &__content {
      float: none;
      width: 100%;
    }

    &__content {
      padding: 30px 0;
    }

    &__cat {
      margin: 0;
    }
  }
}
