.shop {

}

.shop__list {

  &-title {
    font-size: rem(36px);
    color: $brand-green;
  }
}

.shop__list-item {
  max-width: 320px;
  margin: 0 auto 20px;

  &-image {
    position: relative;
    display: block;
    width: 100%;
    height: 360px;
    background-size: cover;
    background-position: center;
    @include transition(300ms, ease);
  }

  &-more {
    position: absolute;
    left: -15px;
    bottom: 80px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-weight: 500;
    font-size: rem(24px);
    color: $color-white;
    background: $brand-pink;
    @include transition(300ms, ease);
  }

  &:hover &-more {
    width: 50px;
    height: 50px;
    line-height: 50px;
  }

  &:hover &-image {
    opacity: .8;
  }

  &-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px 0 0;
    @include clearfix;
  }

  &-content-price {
    flex-basis: 40%;
    margin: 0;
    text-align: right;
    font-weight: bold;
    font-size: rem(18px);
    color: $dark-grey;
  }

  &-content-title {
    flex-basis: 60%;
    margin: 0;
    font-size: rem(24px);
    color: $brand-green;
    font-weight: 500;
  }
}

@include breakpoint(tablet-max) {
  .shop__list {

    &-title {
      text-align: center;
    }
  }
}

@include breakpoint(mobile) {
  .shop__list {

    &-title {
      font-size: rem(28px);
    }
  }
}
