.woocommerce {
  padding: 30px 0 0;

  a {
    color: $brand-pink;
  }
}


// CARRINHO

.cart_totals h2 {
    margin-bottom: 10px;
}

.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
  background: $brand-pink !important
}

.woocommerce .quantity .qty,
.woocommerce select,
.woocommerce #content table.cart td.actions .input-text, .woocommerce table.cart td.actions .input-text, .woocommerce-page #content table.cart td.actions .input-text, .woocommerce-page table.cart td.actions .input-text,
.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea {
  font-family: $primary-font;
  border: 1px solid $light-grey;
  padding: 10px 10px;
  font-size: rem(16px);
  font-style: italic;

    &::placeholder {
      font-family: $primary-font;
      color: $light-grey;
    }
}

.woocommerce table.cart td.actions .input-text {
  width: 100%;
  margin-bottom: 10px;
}

.woocommerce table.cart td.actions .coupon .button {
  background: $brand-pink !important;
  width: 100%;
  color: $color-white;
}

.cart_totals.calculated_shipping h2 {
  margin-bottom: 20px;
}

// CHECKOUT

#order_review_heading {
  margin: 20px 0;
}

.checkout_coupon h3 {
  color: $brand-pink !important;
}


// ERRORS

.woocommerce-error {
  border: none;
  background: $brand-pink;
  color: $color-white;

    li {
      margin: 15px 0;
    }
}

.woocommerce-error::before, .woocommerce-info::before, .woocommerce-message::before {
  display: none;
}

.woocommerce-error,
.woocommerce-info,
.woocommerce-message {
  padding: 20px !important;
}


//INFOS
.woocommerce-info {
  border: none;
  background: $light-grey__10;
}

//MESSAGE

.woocommerce-message {
  background: $brand-green;
  color: $color-white;
  border: none;

    a {
      color: $color-white;
      text-decoration: underline;
    }

    .button {
      background: $brand-pink !important;
      color: $color-white !important;
      text-transform: uppercase;
      font-size: rem(14px) !important;
      font-weight: normal !important;
    }
}


// PRODUCTS PAGINATION
// .products-pagination {
//   text-align: right;
//
//   .prev,
//   .next {
//     display: none !important;
//   }
//
//   .page-numbers,
//   .page {
//     display: inline-block;
//     width: 38px;
//     height: 40px;
//     text-align: center;
//     line-height: 40px;
//     font-size: rem(24px);
//     font-weight: 500;
//     margin-right: 15px;
//
//       &:last-child {
//         margin-right: 0;
//       }
//   }
//
//   .page-numbers {
//     background: $brand-pink;
//     color: $color-white;
//   }
//
//   .current {
//     background: $dark-grey__20;
//     color: $color-white;
//   }
// }

@include breakpoint(mobile) {
  //MESSAGE

  .woocommerce-message {

      .button {
        float: none !important;
        margin:  0 0 20px auto !important;
      }
  }
}
