/* -------------------------
  FONTS
--------------------------*/
$primary-font: 'Futura';
$font-path: '../fonts/';

/* -------------------------
  PATHS
--------------------------*/
$image-path: "../img/";

/* -------------------------
  GRID VALUES
--------------------------*/
$grid-wrapper: calc(100% - 60px);
$grid-columns: 12;
$grid-gutter: 20px;
$grid-gutter-half: $grid-gutter/2;

/* -------------------------
  GENERAL RULES
--------------------------*/

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

/* -------------------------
  COLORS
--------------------------*/
$color-white: rgb(255, 255, 255);
$color-black: rgb(0, 0, 0);

$brand-pink: rgb(230, 160, 170);
$brand-pink__20: rgba($brand-pink, .2);
$brand-pink__40: rgba($brand-pink, .4);

$brand-green: rgb(55, 90, 90);

$dark-grey: rgb(91, 91, 91);
$dark-grey__005: rgba($dark-grey, 0.05);
$dark-grey__20: rgba($dark-grey, 0.2);
$dark-grey__75: rgba($dark-grey, 0.75);

$light-grey: rgb(196, 196, 196);
$light-grey__10: rgba($light-grey, .1);


/* -------------------------
  Z-INDEX
--------------------------*/
$zindex:(
  detail: 100,
  content: 500,
  super-content: 2000,
);

/* -------------------------
  SPACES
--------------------------*/

$spaces: (
  xxxs: 10px,
  xxs: 15px,
  xs: 20px,
  s: 30px,
  m: 50px,
  l: 60px,
  xl: 80px,
  xxl: 90px,
  xxxl: 120px,
);

/* -------------------------
  BREAKPOINTS
--------------------------*/

@include breakpoint(desktop) {
  .desktop-hide {display: none !important}
}

// Tablet
@include breakpoint(tablet) {
  .tablet-hide {display: none !important}
}

// Mobile
@include breakpoint(mobile) {
	.mobile-hide {display: none !important}
}
