@font-face {
    font-family: 'Futura';
    src: url('#{$font-path}FuturaBT-BookItalic.eot');
    src: url('#{$font-path}FuturaBT-BookItalic.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}FuturaBT-BookItalic.woff2') format('woff2'),
        url('#{$font-path}FuturaBT-BookItalic.woff') format('woff'),
        url('#{$font-path}FuturaBT-BookItalic.ttf') format('truetype'),
        url('#{$font-path}FuturaBT-BookItalic.svg#FuturaBT-BookItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Futura';
    src: url('#{$font-path}Futura-Bold2.eot');
    src: url('#{$font-path}Futura-Bold2.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}Futura-Bold2.woff2') format('woff2'),
        url('#{$font-path}Futura-Bold2.woff') format('woff'),
        url('#{$font-path}Futura-Bold2.ttf') format('truetype'),
        url('#{$font-path}Futura-Bold2.svg#Futura-Bold2') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Futura';
    src: url('#{$font-path}FuturaBT-Book.eot');
    src: url('#{$font-path}FuturaBT-Book.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}FuturaBT-Book.woff2') format('woff2'),
        url('#{$font-path}FuturaBT-Book.woff') format('woff'),
        url('#{$font-path}FuturaBT-Book.ttf') format('truetype'),
        url('#{$font-path}FuturaBT-Book.svg#FuturaBT-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura';
    src: url('#{$font-path}Futura-Medium.eot');
    src: url('#{$font-path}Futura-Medium.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}Futura-Medium.woff2') format('woff2'),
        url('#{$font-path}Futura-Medium.woff') format('woff'),
        url('#{$font-path}Futura-Medium.ttf') format('truetype'),
        url('#{$font-path}Futura-Medium.svg#Futura-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Futura';
    src: url('#{$font-path}Futura-MediumItalic.eot');
    src: url('#{$font-path}Futura-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}Futura-MediumItalic.woff2') format('woff2'),
        url('#{$font-path}Futura-MediumItalic.woff') format('woff'),
        url('#{$font-path}Futura-MediumItalic.ttf') format('truetype'),
        url('#{$font-path}Futura-MediumItalic.svg#Futura-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Futura';
    src: url('#{$font-path}Futura-BoldItalic2.eot');
    src: url('#{$font-path}Futura-BoldItalic2.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}Futura-BoldItalic2.woff2') format('woff2'),
        url('#{$font-path}Futura-BoldItalic2.woff') format('woff'),
        url('#{$font-path}Futura-BoldItalic2.ttf') format('truetype'),
        url('#{$font-path}Futura-BoldItalic2.svg#Futura-BoldItalic2') format('svg');
    font-weight: 700;
    font-style: italic;
}

@font-face {
  font-family: 'icomoon';
  src:  url('#{$font-path}icomoon.eot?h1gwc5');
  src:  url('#{$font-path}icomoon.eot?h1gwc5#iefix') format('embedded-opentype'),
    url('#{$font-path}icomoon.ttf?h1gwc5') format('truetype'),
    url('#{$font-path}icomoon.woff?h1gwc5') format('woff'),
    url('#{$font-path}icomoon.svg?h1gwc5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\e900";
}
.icon-facebook-f:before {
  content: "\e900";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-linkedin:before {
  content: "\eaca";
}
