/* -------------------------
  CONVERT PIXEL TO REM - FONTS
--------------------------*/
@function rem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}

/* -------------------------
  MAP-GET EASIER FUNCTION
--------------------------*/
@function space($key) {
  @return map-get($spaces, $key);
}

@function z-index($value) {
  @return map-get($zindex, $value);
}
