/* -----------
	GRID
----------- */

.g__container,
.woocommerce {
  margin: 0 auto;
  width: $grid-wrapper;
  max-width: 1600px;
  position: relative;
}

.g__row {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 (-$grid-gutter-half);

	&--alignCenter {
		justify-content: center;
	}

	&--alignRight  {
		justify-content: flex-end;
	}

	&--alignHorizontal {
		align-items: center;
	}

  &--columnsNoMarginBottom [class*="g__col"] {
    margin-bottom: 0
  }
}

[class*="g__col"] {
  box-sizing: border-box;
  flex: 0 1 auto;
  margin: 0 0 $grid-gutter;
  padding: 0 $grid-gutter-half;
}

.g__col--noMargin {
  padding: 0;
}

@for $i from 1 through $grid-columns {
  .g__col-d-#{$i} {
    flex-basis: (100 / ($grid-columns / $i) ) * 1%;
  }

	.grid__col-order-#{$i} {
		order: $i
	}
}

@include breakpoint(desktop) {
  @for $i from 1 through $grid-columns {
    .g__offset-d-#{$i} {
      @if $i == 0 {
        margin-left: 0;
      } @else {
        margin-left: 100% / $grid-columns * $i;
      }
    }
  }
}

/*
	-----------
	BREAKPOINTS
	-----------
*/

// Tablet
@include breakpoint(tablet) {
	@for $i from 1 through $grid-columns {
		.g__col-t-#{$i} {
      flex-basis: (100 / ($grid-columns / $i) ) * 1%;
		}

    .g__offset-t-#{$i} {
      @if $i == 0 {
        margin-left: 0;
      } @else {
        margin-left: 100% / $grid-columns * $i;
      }
    }
	}

  .t-hide {
    display: none;
  }
}

// Mobile
@include breakpoint(mobile) {
	@for $i from 1 through $grid-columns {
		.g__col-m-#{$i} {
      flex-basis: (100 / ($grid-columns / $i) ) * 1%;
		}
	}

  .m-hide {
    display: none;
  }
}
