/* ---------------------
  CLEARFIX
---------------------- */
@mixin clearfix {
	&:before,
	&:after {
		content:"";
		clear:both;
		width:100%;
		height:0px;
		display:block;
	}
}

/* ---------------------
  TRANSITION
---------------------- */
@mixin transition($duration, $type) {
  -webkit-transition: all $duration $type;
  -moz-transition: all $duration $type;
  -ms-transition: all $duration $type;
  -o-transition: all $duration $type;
  transition: all $duration $type;
}

/* ---------------------
  BORDER RADIUS
---------------------- */
@mixin border-radius($top-left, $top-right, $bottom-left, $bottom-right) {
  border-top-left-radius: $top-left;
  border-top-right-radius: $top-right;
  border-bottom-left-radius: $bottom-left;
  border-bottom-right-radius: $bottom-right;
}

/* ---------------------
  CENTER
---------------------- */
@mixin centralize {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/* ---------------------
  QUERIES
---------------------- */
@mixin breakpoint($class) {
  @if $class == mobile {
    @media screen and (max-width: 639px) { @content; }
  }

  @if $class == tablet-max {
    @media screen and (max-width: 959px) { @content; }
  }

  @if $class == tablet {
    @media screen and (min-width: 640px) and (max-width: 959px) { @content; }
  }

  @if $class == desktop {
    @media screen and (min-width: 960px) { @content; }
  }

  @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}
