* {
  box-sizing: border-box;
  margin: 0 auto;
  outline: none;
  padding: 0;
  text-decoration: none;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

a {text-decoration: none;}

ol,
ul {
  list-style: none;
}

img,
object,
video {
	height: auto;
  max-width: 100%;
}

iframe {max-width: 100%;}

img {
  vertical-align: middle;
}

object[type="application/gas-events-abn"] {
	display: none !important;
}

button,
textarea,
input,
input[type="submit"] {
  -webkit-appearance: none;
  background: none;
  border: 0;
  border-radius: 0;
  font-family: $primary-font !important;
}

strong,
b {
  font-weight: bold;
}

i,
em {
  font-style: italic;
}

u {
  text-decoration: underline;
}

p {
  display: block;
  margin: 1em 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
